/* Joshua Miner, 4/15 */
header
{
    color: rgb(14, 14, 14);
    font-size: larger;
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: bisque;
    opacity: 85%;
}
a
{
    text-decoration: none;
    /* color: rgb(14, 14, 14); */
    color: #2c2e30;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p
{
    text-align: center;
    font-size: larger;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-basis: 100%;
    flex-grow: 1;
    text-decoration: none;
    list-style: none;
}
h1
{
    text-align: center;
    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h4
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fcf8e3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 200;
}
body
{
    background-image: url("../assets/img/trees.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
footer
{
    color: rgb(14, 14, 14);
    font-size: small;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: bisque;
    opacity: 85%;   
}
.ayys
{
    text-decoration: none;
    /* color: rgb(14, 14, 14); */
    color: #a0a4a7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.barrs
{
    background-color:rgb(66, 44, 44);
    color: rgba(238, 232, 232, 0.976);
    opacity: 95%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tabs1
{
    margin: auto;
    width: 130vh; height: 110vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
}
.tabs2
{
    margin: auto;
    width: 130vh; height: 110vh;
    /* padding-top: 15vh; */
    padding-bottom: 15vh;
}
.boxes
{
    opacity: 85%;
}